PORT=3000
SENDBLUE_API_KEY=replace_me
SENDBLUE_API_SECRET=replace_me
SENDBLUE_FROM_NUMBER=+12025550100
WEBHOOK_TOKEN=replace_with_a_long_random_value
ADMIN_TOKEN=replace_with_a_different_long_random_value
DATA_DIR=./data
MOVE_TIME_LIMIT_MS=50
MOVE_MAX_DEPTH=10
BOOTSTRAP_SESSIONS_JSON=[]
